<% provide :title, t("authentication.views.title.register") %>
<% provide :button_text, t("authentication.views.label.register") %>
<h1> <%= t("authentication.views.html.register") %> </h1>
<%= render "form" %>
